// General:
$remSize: 17px;
$main-header-height-xs: 4rem;
$main-header-height-sm: 5.5rem;

// Fonts:
$font-family-general: "Segoe UI", sans-serif;
$font-size-xs: 1rem;
$font-size-sm: 1.1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 1.85rem;

// Screens:
$max-width-screen-xxs: 20rem; // 320px
$max-width-screen-xs: 36rem; // 576px  | Phones
$max-width-screen-sm: 48rem; // 768px  | Tablets
$max-width-screen-md: 62rem; // 992px  | Laptops
$max-width-screen-lg: 75rem; // 1200px | Desktops

// Spacing:
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 1rem;
$space-4: 1.5rem;
$space-5: 2rem;
$space-6: 3rem;
